<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1><span th:text="${drinkki.nimi}">drinkki</span>!</h1>

        <p>Olet saapunut drinkin <span th:text="${drinkki.nimi}">drinkki</span> sivulle.</p>
        <ul>
            <li th:each="drinkinAinesosa: ${drinkinAinesosat}">
                <span th:text="${drinkinAinesosa.jarjestys}">ainesosan nimi</span>
                <span th:text="${drinkinAinesosa.ainesosa.nimi}">ainesosan nimi</span>
                <span>määrä: </span> <span th:text="${drinkinAinesosa.maara}">ainesosan nimi</span> <span>annosta</span>
                <span th:text="${drinkinAinesosa.ohje}">ainesosan nimi</span>
            </li>
        </ul>
        <p><a href="/">Takaisin etusivulle</a></p>
    </body>
</html>